*.pyc
*~
__pycache__
test
tests
node_modules
demo
doc
docs
examples
man
benchmark
CNAME
.editorconfig
_config.yml
*/.travis.yml
Gruntfile*
.editorconfig
component.json
composer.json
package.json
.DS_Store
.bower.json
*/.gitignore

codemirror/mode/*/index.html

google-caja/*.js
!google-caja/html*sanitizer-bundle.js
!google-caja/html*sanitizer-minified.js

# sizzle from jquery, for no reason
sizzle

jquery-ui/themes/*
!jquery-ui/themes/smoothness

# exclude jquery-ui sub-pieces
jquery-ui/ui/*.js
jquery-ui/ui/*/*.js
jquery-ui/ui/*/*/*.js
!jquery-ui/ui/jquery-ui.js
!jquery-ui/ui/i18n/jquery-ui-i18n.js
!jquery-ui/ui/minified/jquery-ui.min.js
!jquery-ui/ui/minified/i18n/jquery-ui-i18n.min.js


requirejs/*.sh
requirejs/dist

bootstrap-tour/src
bootstrap-tour/build/*/*standalone*

moment/*
!moment/moment.js
!moment/min/
moment/min/*
!moment/min/moment.min.js

#bootstrap excludes
bootstrap/js
!bootstrap/js/bootstrap*.js
bootstrap/css
bootstrap/fonts/*.svg

# We only need the utf8 implementation
text-encoding/index.js
text-encoding/lib/encoding-indexes.js

term.js/Makefile
term.js/example/
term.js/index.js
term.js/lib/
term.js/.npmignore
