@import "../notebook/less/highlight.less";

/* In conjunction with viewportMargin set to infinity */
div.input_area .CodeMirror {
  height: auto !important;
}

/* Get rid of the input prompt, the: In [1] */
div.cell .prompt.input_prompt {
  display: none;
}

.thebe_controls button.ran {
  font-style: italic;
}

.thebe_controls span.state {
  font-family: monospace;
  margin-left: 10px;
  opacity: 0.5;
  font-size: 0.8em;
}